@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px
}

                        /*BARRA DE NAVEGACION*/

.navegador{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color: #191E28 !important;
    transition-duration: 0.5s;
}
.navegador:hover{
 height: 150px;
}
.wrapper{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0% 10% 0% 10%;
}
.navegador:hover .wrapper{
    width: 80%;
    height:100%; 
}
.icon_login{
    position: relative;
    left: 100%;
    float: left;
    text-align: center;
    line-height: 70px;
}
.login{
font-size: 50px;
line-height: 70px;
transition-duration: 0.5s;
}
.login:hover{
    color: white}
.navegador:hover .login{
    line-height: 150px;
}
.holse li {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.5s;
    line-height: 70px;
    height: 70px;
}
.holse li:hover a{
     padding-top: 60px;
    border-top: solid 5px;
}
.navegador:hover .holse li{
    text-align: center;
    height: 100%;
    line-height: 150px;
}
.indicador .holse li a{
    color: #ffffff;
    font-weight: 100;
    line-height: 70px;
}

.active .pri{
    color: #039be5 !important  ;
    padding-top: 20px;
    border-top: solid 5px;
}
.navegador:hover  .active .pri{
    color: #039be5 ;
    padding-top: 60px;
}


      






























                /*footer*/
.fadter{
    position: relative;
    width: 100%;
    top: 30px;
    height: 250px;
    background-color: rgb(61, 61, 61);
}
.feadter_holse li {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.5s;

    height: 70px;
}
.feadter_holse li:hover a{
        padding-top: 20px;
        color: #039be5;
    border-top: solid 5px;
}
.feadter_holse li{
    text-align: center;
    height: 100%;
}
.feadter_indicador .feadter_holse li a{
    color: white;
    font-weight: 100;
    line-height: 70px;
}
.feadter_indicador{
    position: relative;
    bottom: 132px;  
}

.active .feadter_pri{
    color: #039be5 !important  ;
    padding-top: 20px;
    border-top: solid 5px;
}
.feadter_navegador:hover  .active .feadter_pri{
    color: #039be5 ;
    padding-top: 60px;
}
.container_fadter{
    position: relative;
    bottom: 166px;
}
.container_fadter div{
    position: relative;
    float: left;
}
.container_fadter div h1{
    font-size: 15px;
    margin-left: 20px;
    color: white;
    font-weight: 100;
}
.container_fadter div p{
    position: relative;
    color: rgba(255, 255, 255, 0.384);
    font-size: 10px;
    margin-left: 20px;
}
.R_Social i{
    color: white;
    cursor: pointer;
    margin-left: 20px;
}
.R_Social i:hover{
    color: #039be5;
}
