@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat', sans-serif;
}
.navegador{
    position: absolute;
    width: 100%;
    z-index: 99;
    background-color: transparent !important;
}
.navegador li{
    display: inline-block;
    margin-left: 63px;
    padding: 10px;
    border-radius: 45%;
    margin-top: 35px;
}
.navegador li:hover{
    background-color: rgba(194, 194, 194, 0.151);
}
.navegador li a{
    color: white;
    font-size: 100%;
    cursor: pointer;
}
.navegador li:active a{
    border-bottom: solid;
}
.parallax-container{
    bottom: 4pc;
    width: 100%;
    height: 600px;
}
.section{
    position: relative;
    bottom: 4pc;
}
.borde_superior1{
    border-top: solid 10px green;
}
.borde_superior2{
    border-top: solid 10px rgb(255, 238, 0);
}
.borde_superior3{
    border-top: solid 10px rgb(255, 153, 0);
}
.seleccionar{
    text-align: center;
    position: relative;
    width: 100%;
    height:105px;
    bottom: 170px;
}
.seleccionar .desple{
    position: relative;
    width: 320px;
    float: left;
    cursor: pointer;
    z-index: 1;
    height: 7pc;
    margin-left: 8%;
    background-color: white;
}
h3{
    margin-bottom: 0;
}
.seleccionar div img{
    width: 100%;
    display: none;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    transform: translateY(-105px);
    opacity: 0;    
}
.seleccionar .desple:hover img {
    transform: translateY(0);
    display: block;
    transition-duration: 0.3s;
    animation-duration: 0.3s;
    opacity: 1;
}
.promo{
    position: relative;
    width: 100%;
    bottom: 189px;
}
.contenedor{
    margin: 90px 0px 0px 150px;
    text-align: justify;
    width: 30pc;
}
.contenedor div img{
    width: 300px;
    display: inline-block
}
.promo1{
    position: relative;
    margin-left: 150px;

}
.promo1 div{
    position: relative;
    margin-top: 20px;
    display: inline-block;
    width: 373px;
    height: 350px;
}
#espacio{
    margin-left: 25px;
}
.promo1 div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.promo1 p{
    position:absolute;
    font-weight: bold;
    font-size: 20px;
}
.promo1 p span{
    font-size: 17px;
    font-weight: 400;
}
.precio{
    color: blue;
    font-size: 20px !important;
    font-weight:900 !important;
}
.infomacion{
    position: relative;
    width: 100%;
}
.infomacion .extra,.deporte{
    position: relative;
    width: 100%;
    max-width: 100%;
}
.infomacion .extra div,.deporte div{
    position: relative;
    width: 48%;
    height: 444px;
    float: left;
}
#titulo{
    font-weight: 600;
    font-size: 35px;
    width: 398px;
    margin-left: 38%;
}
#parrafo{
    font-size: 14px;
    width: 260px;
    margin-left: 49%;
    text-align: left;
}