@import url('https://fonts.googleapis.com/css?family=Hind|Work+Sans');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(../asset/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}
            /*TITULO*/
.body {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color: rgba(255, 255, 255, .25);
    text-align: center;
    margin: 0;
}
.ti {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 5%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
}
.ti span {
    font: 700 4em "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
    0% {
     background-position: 0% 50%;
}
    100% {
        background-position: 100% 50%;
}
}

.bottom{
    position: absolute;
    margin-left: 60px;

}
.cont{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition-duration: 0.8s;
    text-align: center;
    background: #ff851b25;
    line-height: 60px;
}
.cont a{
    position: relative;
    font-size: 57px;
    height: 100%;
}
.cont a i{
    font-size: 40px;
    opacity: 0;
    transition-duration: 0.5s;
    transform: rotateY(360deg);
    color: white;
}
.cont:hover{
    background: #ff851b;
}
.cont:hover a i{
    opacity: 1;
    transform: rotateY(0deg);
}

/* -------------------------------------------------------------- */
.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 300px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="number"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="submit"] {
    background: #FF851B;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: rgba(0, 117, 217, 0.7);
}

.contenedor-form .reset-password {
    background: rgba(0, 117, 217, .7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}
.swal-modal{
    font-family:'Hind', sans-serif; 
}
