@import url('https://fonts.googleapis.com/css?family=Mali');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mali', cursive;
    /* font-size: 15px; */
}
body { 
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.navegador{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color: #191E28 !important;
    transition-duration: 0.5s;
}
.navegador:hover{
 height: 150px;
}
.wrapper{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0% 10% 0% 10%;
}
.navegador:hover .wrapper{
    width: 80%;
    height:100%; 
}
.icon_login{
    position: relative;
    left: 100%;
    float: left;
    text-align: center;
    line-height: 70px;
}
.login{
font-size: 50px;
line-height: 70px;
transition-duration: 0.5s;
}
.login:hover{
    color: white}
.navegador:hover .login{
    line-height: 150px;
}
.holse li {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.5s;
    line-height: 70px;
    height: 70px;
}
.holse li:hover a{
     padding-top: 60px;
    border-top: solid 5px;
}
.navegador:hover .holse li{
    text-align: center;
    height: 100%;
    line-height: 150px;
}
.indicador .holse li a{
    color: #ffffff;
    font-weight: 100;
    line-height: 70px;
}

.active .pri{
    color: #039be5 !important  ;
    padding-top: 20px;
    border-top: solid 5px;
}
.navegador:hover  .active .pri{
    color: #039be5 ;
    padding-top: 60px;
}
/*letrero*/
@import url(https://fonts.googleapis.com/css?family=Erica+One);
/* BODY */
.body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;  
  height: 100%;
 
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}
::selection {
  background: transparent;
}

.h1 {
  cursor: default;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  margin: auto;
  display: block;
  
  -webkit-animation: bounce .3s ease infinite alternate;
  
  font-family: 'Erica One', cursive;
  font-size: 80px;
  color: #FFF;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -30px;
    
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 30px 30px rgba(0, 0, 0, .3);
  }
}

/*slider*/
.clase6 .row .col{
    padding-left: 0;
    padding-right: 0;
}
.imgslide1,.imgslide2, .imgslide3{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.imgslide1{
    background: url(../asset/slider4.jpg);
}
.imgslide2{
    background: url(../asset/slider2.jpg);
}
.imgslide3{
    background: url(../asset/slider3.jpg);
}

.arrowright i, .arrowleft i{
    color: rgba(255,255,255,1)
}
.arrowright,.arrowleft{
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    transition: all .3s linear;
}
.arrowleft{
    left: 80px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    transform: translateX(-80px);
}
.arrowright{
    right: 80px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    transform: translateX(80px);
}
.carousel:hover .arrowright, .carousel:hover .arrowleft{
    opacity: 1;
    transform: translateX(0);
}

.carousel .indicators .indicator-item.active{
    background: rgba(255,255,255,0);
    border: 2px solid #fff;
    cursor: default;
    line-height: 1.2;
    width: 12px;
    height: 12px;
}
.carousel .indicators .indicator-item{
    width: 12px;
    height: 12px;
    background: #5C5F6A;
    background: rgba(92,95,106,1);
    cursor: pointer;
    text-indent: -9999px;
   
}
.fadter{
    position: relative;
    width: 100%;
    top: 30px;
    height: 250px;
    background-color: rgb(61, 61, 61);
}
.feadter_holse li {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.5s;

    height: 70px;
}
.feadter_holse li:hover a{
     padding-top: 20px;
     color: #039be5;
    border-top: solid 5px;
}
.feadter_holse li{
    text-align: center;
    height: 100%;
}
.feadter_indicador .feadter_holse li a{
    color: white;
    font-weight: 100;
    line-height: 70px;
}

.active .feadter_pri{
    color: #039be5 !important  ;
    padding-top: 20px;
    border-top: solid 5px;
}
.feadter_navegador:hover  .active .feadter_pri{
    color: #039be5 ;
    padding-top: 60px;
}
.container_fadter{
    position: relative;
    bottom: 10%;
}
.container_fadter div{
    position: relative;
    float: left;
}
.container_fadter div h1{
    font-size: 15px;
    margin-left: 20px;
    color: white;
    font-weight: 100;
}
.container_fadter div p{
    position: relative;
    color: rgba(255, 255, 255, 0.384);
    font-size: 10px;
    margin-left: 20px;
}
.R_Social i{
    color: white;
    cursor: pointer;
    margin-left: 20px;
}
.R_Social i:hover{
    color: #039be5;
}