*{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
body { 
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main {
    flex: 1 0 auto;
}
nav {
    color: #fff;
    box-shadow: 0px 0px transparent;
    width: 100%;
    transition: all .3s linear;
}
ul li a:hover{
    background-color: transparent;
    color: rgb(255, 249, 249);
}
.fon{
    background-size: cover;
    position: relative;
}
nav ul a{
    color: white;
}
nav>.container{
    width: 90%;
    padding: 28.5px 0 0 0;
}
nav>.container>.row{
    margin-bottom: 0;
}
.logueo{
    margin-right: 40px;
}
.lo{
    margin: 0;
    width: 100px;
}
.logueo>li:nth-child(2)>a{
    background-color: transparent;
    box-shadow: 0px 0px transparent;
    padding:0 40px;
    border-radius: 50px;
    border: 1.5px rgb(255, 255, 255) !important;    
    margin: 0;
}
.btn:hover{
    color: rgb(8, 8, 8);
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important; 
}

@keyframes efect {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
}
.nav-scroll{
    height: 100px;
    background-color: #000000 !important;
}
nav>.container{
    transition: all .3s linear;
}
.nav-scroll>.container{
    padding: 13.5px 0;
    border-bottom: none;
}

/*slider*/
.clase6 .row .col{
    padding-left: 0;
    padding-right: 0;
}
.imgslide1,.imgslide2, .imgslide3{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.imgslide1{
    background: url(../asset/slider4.jpg);
}
.imgslide2{
    background: url(../asset/slider2.jpg);
}
.imgslide3{
    background: url(../asset/slider3.jpg);
}

.arrowright i, .arrowleft i{
    color: rgba(255,255,255,1)
}
.arrowright,.arrowleft{
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    transition: all .3s linear;
}
.arrowleft{
    left: 80px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    transform: translateX(-80px);
}
.arrowright{
    right: 80px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    transform: translateX(80px);
}
.carousel:hover .arrowright, .carousel:hover .arrowleft{
    opacity: 1;
    transform: translateX(0);
}